@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Common colors */

  --color-error-1: hsl(0, 100%, 85%);
  --color-error-2: hsl(0, 100%, 75%);
  --color-error-text: hsl(0, 50%, 20%);

  --color-success-1: hsl(120, 70%, 65%);
  --color-success-2: hsl(120, 70%, 55%);
  --color-success-text: hsl(120, 70%, 20%);

  /* Theme-specific colors */

  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);

  --color-bg-surface-1: var(--bg-surface-1);
  --color-bg-surface-2: var(--bg-surface-2);

  --color-bg-input-1: var(--bg-input-1);
  --color-bg-input-2: var(--bg-input-2);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);

  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
}

/* Dark Theme Colors (Default) */
:root {
  --bg-1: hsl(0, 35%, 15%);
  --bg-2: hsl(0, 35%, 10%);

  --bg-surface-1: hsla(0, 0%, 100%, 0.05);
  --bg-surface-2: hsla(0, 0%, 100%, 0.1);

  --bg-input-1: hsla(0, 0%, 100%, 0.05);
  --bg-input-2: hsla(0, 0%, 100%, 0.1);

  --text-1: white;
  --text-2: hsla(0, 0%, 100%, 0.8);
  --text-3: hsla(0, 0%, 100%, 0.5);

  --border-1: hsla(0, 0%, 100%, 0.2);
  --border-2: hsla(0, 0%, 100%, 0.1);

  --accent-1: hsl(210, 100%, 60%);
  --accent-2: hsl(210, 100%, 70%);
}

/* Light Theme Colors */
[data-theme="light"] {
  --bg-1: hsl(210, 100%, 40%);
  --bg-2: hsl(210, 100%, 30%);

  --bg-surface-1: hsla(0, 0%, 100%, 0.1);
  --bg-surface-2: hsla(0, 0%, 100%, 0.2);

  --bg-input-1: hsla(0, 0%, 100%, 0.1);
  --bg-input-2: hsla(0, 0%, 100%, 0.15);

  --text-1: white;
  --text-2: hsla(0, 0%, 100%, 0.8);
  --text-3: hsla(0, 0%, 100%, 0.5);

  --border-1: hsla(0, 0%, 100%, 0.2);
  --border-2: hsla(0, 0%, 100%, 0.1);

  --accent-1: hsl(210, 100%, 60%);
  --accent-2: hsl(210, 100%, 70%);
}

body {
  font-family: Oxanium, sans-serif;
  height: 100vh;
  background: linear-gradient(
    35deg,
    var(--color-bg-1) 0%,
    var(--color-bg-2) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-text-1);
}
