@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

/* :root {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Oxanium, sans-serif;
  margin: auto 0;
  display: grid;
  min-height: 100vh;
  background-color: #281414;
}
