h2 {
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
}

form {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  padding: 1rem;
  border-radius: 0.5rem;
  place-self: center;
  width: min(50%, 500px);
  margin: 1rem;
}

label {
  text-transform: uppercase;
}

input {
  box-shadow: 0 0 1px black;
  margin-bottom: 0.5rem;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  max-width: 80%;
}

button {
  transition: 0.2s all ease;
  font-weight: bold;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  box-shadow: 0 3px black;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.connect-btn {
  background-color: green;
  color: white;
}

.disconnect-btn {
  background-color: red;
  color: white;
}

button:active {
  color: white;
  box-shadow: 0 -3px black;
}

button:disabled {
  background-color: rgb(180, 180, 180);
  color: black;
}

.error {
  background-color: rgb(255, 180, 180);
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}
